a{
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
a.icon i {
    font-size: 18px;
    padding: 5px;

}
a.icon i.delete {
    margin-left: 10px;
    color: red;
}
a {
    text-decoration: none!important;
}
.navbar-inverse .navbar-brand {
    color: #fff!important;
}
.icon-check {
    margin-right: 5px;
    font-size: 25px;
    position: relative;
    top: 2px;
    color: #2b542c;
}
.table-admin thead > tr th {
    text-align: center!important;
}
table li i.active {
    color: #ec4445!important;
}
