body {
  min-height: 1000px;
  background: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-wrapper {
  overflow: hidden;
  .section-base {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.bg-white {
  background: #fff;
}
.bg-green {
  background: $lightgreen;
  color: #fff;
}
.bg-pastel-green {
  background: $pastelGreen;
}

@include min-breakpoint($max-md) {
  .pl-pc-0 {
    padding-left: 0px !important;
  }
  .show-mobile {
    display: none !important;
  }
}
@include breakpoint($max-md) {
  .mb-3-mobile {
    margin-bottom: 1rem
  }
  .hide-mobile {
    display: none !important;
  }
}
.list-style-none {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.image {
  max-width: 100%;
  height: auto;
}

.stars {
  @include flexbox();
  .star {
    background-image: url('/assets/img/svg/star_outlined.svg');
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 30px;
    margin-right: 2px;
    &.active {
      background-image: url('/assets/img/svg/star_filled.svg');
    }
  }
}