* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px 0;
}
.ct {}
.container {
    position: relative;
    width: 210mm;
    max-width: 210mm;
    height: auto;
    min-height: 290mm;
    margin: 0 auto;
    background: #fff;
    font-family: "Corbel";
}
@font-face {font-family: "Corbel"; src: url("//db.onlinewebfonts.com/t/29dc27977e417a98e56556776f41607c.eot"); src: url("//db.onlinewebfonts.com/t/29dc27977e417a98e56556776f41607c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/29dc27977e417a98e56556776f41607c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/29dc27977e417a98e56556776f41607c.woff") format("woff"), url("//db.onlinewebfonts.com/t/29dc27977e417a98e56556776f41607c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/29dc27977e417a98e56556776f41607c.svg#Corbel") format("svg"); }
@font-face {font-family: "Constantia"; src: url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.eot"); src: url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.woff") format("woff"), url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0b9856633d4311a19df074ea509d8390.svg#Constantia") format("svg"); }
.header {
    text-align: center;
    padding: 30px 0 8px 0;
    border-bottom: 10px solid #6A6A6A;
}
.name {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    font-family: "Constantia";
}
.header > p {
    text-transform: uppercase;
    padding: 8px 0;
    font-size: 16px;
}
.contact {
    display: flex;
    justify-content: center;
}
.contact > p {
    border-right: 2px solid #a4a4a4;
    padding: 0 4px;
    font-size: 14px;
}
.contact > p:last-child {
    border-right: none;
    letter-spacing: 3px;
}
.content {
    padding: 20px 30px 50px 30px;
}
.title {
    text-transform: uppercase;
    border-bottom: 2px solid #a4a4a4;
    padding-bottom: 10px;
    letter-spacing: 5px;
    font-size: 20px;
}
.about > p:last-child {
    padding-top: 5px;
    line-height: 20px;
    font-size: 13px;
}
.compe {
    margin-top: 30px;
}
.compe > div {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 20px 0;
}
.compe > div >p {
    text-align: center;
    font-size: 13px;
    margin: 0;
}
.exp {
    padding: 15px 0;
}
.exp-1, .exp-2 {
    padding: 10px 0;
}
.exp-1 > p:first-child, .exp-2 > p:first-child {
    font-size: 15px;
}
.exp-1 > p:nth-child(2), .exp-2 > p:nth-child(2) {
    font-size: 13px;
}
.exp-1 > p:nth-child(3), .exp-2 > p:nth-child(3) {
    padding: 10px 0;
    font-size: 13px;
}
.exp-1 > ul, .exp-2 >ul {
    margin-left: 40px;
    font-size: 13px;
}
.for > p:nth-child(2) {
    padding: 13px 0 5px 0;
}
.for > div {
    display: flex;
}
.for > div > p {
    border-right: 2px solid #a4a4a4;
    padding-right: 5px;
    font-style: italic;
}
.for > div > p:last-child {
    border-right: none;
    padding-left: 5px;
}
.footer {
    position: absolute;
    width: 210mm;
    bottom: 0;
    left: 0;
    border-bottom: 10px solid #6A6A6A;
}