* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px 0;
}
.no {}
@font-face {
    font-family: "Cambria";
    src: url("../../public/fonts/cambria/Cambria.ttf");
}
.container {
    width: 210mm;
    height: auto;
    max-width: 210mm;
    min-height: 290mm;
    background: #fff;
    margin: 0 auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.border {
    position: absolute;
    min-height: 100%;
    height: auto;
    width: 25px;
    top: 0;
    left: 0;
    background-color: #635D79;
}
.header {
    height: 200px;
    color: #fff;
    background: #635D79;
}
.header > div {
    width: 70%;
    float: right;
    text-align: center;
    top: 72px;
    position: relative;
}
.header > div > p:first-child {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.header > div > p:last-child {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 10px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.content {
    padding: 0 30px 30px 0;
}
.left {
    position: absolute;
    top: 43px;
    width: 24%;
    min-height: 1053px;
    float: left;
    left: 25px;
    padding: 20px 10px 0 10px;
    background-color: #D6D5D6;
    box-sizing: border-box;
}
.right {
    width: 73%;
    float: right;
    padding: 30px 10px 30px 40px;
    font-size: 13px;
    line-height: 16px;
}
.one, .three, .five {
    width: 50%;
    float: right;
}
.two, .four {
    width: 100%;
    text-align: left;
    float: left;
}
.logo {
    position: relative;
    padding: 0;
    height: 158px;
    width: 190px;
    background-color: #95959D;
    top: -20px;
    left: -10px;
}

.logo > p {
    width: 100%;
    font-family: "Cambria";
    text-align: center;
    font-size: 100px;
    color: #635D79;
    position: absolute;
    top: 17px;

}
.contact {
    height: 212px;
    text-align: center;
    padding-top: 10px;
}
.contact > div {
    padding: 15px 0;
}
.contact > div > p{
    font-size: 13px;
    line-height: 25px;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #635D79;
}
.title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    color: #635D79;
    padding: 7px;
    text-align: center;
}
.compe {
    margin-top: 40px;
}
.compe > div {
    padding: 20px 0;
    text-align: center;
    font-size: 13px;
    line-height: 25px;
}
.compe > div > ul {
    list-style: none;
}
.compe > div > ul li {
    line-height: 30px;
}
.for {
    line-height: 18px;
    font-size: 13px;
    height: 265px;
    text-align: center;
}
.for > div {
    padding-bottom: 15px;
    margin-left: 15px;
    line-height: 25px;
}
.for > div > p:first-child{
    text-transform: uppercase;
    font-weight: 600;
}
.for > div > p:nth-child(2) {
    text-transform: uppercase;
    padding-bottom: 10px;
}
.for > .for-1 {
    padding-top: 15px;
}
.for > .for-2 {
}
.ato {
    text-align: center;
}
.ato > div {
    padding: 15px 0;
}
.ato > div > p {
    font-size: 13px;
    line-height: 30px;
}
