* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px 0;
}
.no {}
@font-face {
    font-family: 'Gotham';
    src: url("GothamBook.ttf");
}
@font-face {
    font-family: 'Hightower';
    src: url("HTOWERT.TTF");
}
.container {
    font-family: 'Gotham';
    width: 210mm;
    height: auto;
    max-width: 210mm;
    min-height: 290mm;
    background: #fff;
    margin: 0 auto;
    padding: 0 40px;
    overflow-y: auto;
}
.header {
    font-family: 'Hightower';
    font-style: normal;
    height: 230px;
    text-align: center;
    background-color: #000;
    color: #fff;
    position: relative;
}
.border {
    position: absolute;
    top: 35px;
    left: 144px;
    width: 60%;
    height: 134px;
    border: 5px solid #fff;
}
.name {
    width: 100%;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    top: 36%;
}
.job {
    width: 100%;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 300;
    margin-top: 20px;
    font-style: italic;
    position: absolute;
    bottom: 18px;
}
.content {
    padding: 30px 0;
}
.right {
    width: 30%;
    float: right;
}
.left {
    width: 70%;
    float: left;
    padding-right: 50px;
}
.contact {
    display: flex;
    font-size: 13px;
    justify-content: space-evenly;
    text-align: center;
    background-color: #EBE3DA;
    border: 3px solid #000;
    padding: 10px 0;
}
.contact > div {
    padding: 10px 0;
}
.info {
    padding-bottom: 10px;
}
.info > hr {
    height: 3px;
    border: none;
    background: #000;
    margin: 5px;
}
.info > p {
    text-transform: uppercase;
}
.info > span {
    font-style: italic;
}
.title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 0;
    background-color: #EBE3DA;
    letter-spacing: 5px;
    color: #0F243F;
    border: 3px solid #000;
    text-align: center;
}
.skill {
    padding-bottom: 15px;
    font-size: 13px;
}
.compe > .skill:nth-child(2) {
    padding-top: 20px;
}
.skill > p {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.skill > div {
    display: flex;
    justify-content: center;
}
.skill > div > p {
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    margin-right: 10px;
}
.skill > div > p:first-child {
    background-color: #EBE3DA;
}
.compe > div > ul {
    font-size: 13px;
    line-height: 20px;
    list-style: inside;
}
.for {
    line-height: 18px;
    font-size: 13px;
    min-height: 185px;
    margin-top: 20px;
}
.for > div {
    text-align: center;
    text-transform: uppercase;
}
.for > div:nth-child(2) {
    padding: 25px 0;
}
.for > div > p:nth-child(2) {
    padding-bottom: 15px;
}
.for > div > p:first-child {
    font-weight: 600;
    padding-bottom: 5px;
}
.for .for-1 {
    padding-top: 15px;
}
.pro {
    min-height: 200px;
}

.pro > p:last-child {
    font-size: 13px;
    line-height: 17px;
    padding: 10px 0;
}
.exp {
    font-size: 12px;
    line-height: 18px;
}
.exp hr {
    width: 200px;
}
.exp-1 {
    padding: 10px 0;
}
.exp-1 > div, .exp-2 > div {
    padding-bottom: 10px;
    text-align: center;
}
.exp-1 > div > p:first-child, .exp-2 > div > p:first-child {
    text-transform: uppercase;
    font-weight: 600;
}
.exp > div > ul {
    margin-left: 38px;
}
.exp > div > p:nth-child(2) {
    padding-bottom: 10px;
}