* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
ul.menu li form.search input {
    border-radius: 0;
}

/*footer*/
#footer {
    border-radius: 0;
}