* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    padding: 20px 0;
    background: #fff;
}
.no {}
#wrapper {
    overflow: unset!important;
    overflow-x: unset!important;
}
.container {
    width: 210mm;
    max-width: 210mm;
    min-height: 290mm;
    background: #E7E7E5;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    overflow-y: auto;
    position: relative;
}
.header {
    position: relative;
    padding: 30px 0;
    color: #826B8A;
    height: 185px;
    font-family: 'Open Sans', sans-serif;
}
.header-top {
    display: flex;
    justify-content: center;
}
.header-top > p {
    font-size: 11px;
    padding-right: 35px;
}
.header-bottom {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
.header-bottom > p:first-child {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.header-bottom > p:last-child {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 5px;
}
.content {
    position: relative;
    margin: 25px;
    padding: 40px;
    min-height: 862px;
    background: #EEEEEE;
    border-top: 15px solid #B2A7B8;
    box-sizing: border-box;
    overflow: auto;
}
.left {
    width: 30%;
    float: left;
}
.right {
    width: 70%;
    float: right;
}
.avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    background: #CBCBCB;
    top: 174px;
    left: 40%;
    z-index: 10000;
}

.title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #B2A7B8;
}

.compe {
    min-height: 250px;
}
.compe > div {
    padding: 10px 0;
}
.compe > div > p {
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 15px;
}
.for {
    line-height: 17px;
    font-size: 13px;
}
.for > div {
    padding-bottom: 15px;
}
.for-1 {
    padding-top: 10px;
}
.pro {
    margin-top: 20px;
    min-height: 170px;
}
.pro > p:last-child {
    font-size: 13px;
    line-height: 17px;
    text-align: justify;
    padding: 10px 0;
}
.ato {
    margin-top: 15px;
}
.ato > div {
    padding-top: 10px;
}
.ato > div > p {
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 20px;
}
.exp {
    font-size: 13px;
    line-height: 17px;
}
.exp-1 {
    padding: 20px 0;
}
.exp > div > ul {
    margin-left: 38px;
}
.exp > div > p:nth-child(2) {
    padding-bottom: 10px;
}
