* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    padding: 20px 0;
}

.no {}
@font-face {
    font-family: "bonvenoCF";
    src: url("BonvenoCF-Light.otf");
}
.cv {
    font-family: "bonvenoCF";
    margin: 0 auto;
    width: 210mm;
    max-width: 210mm;
    height: auto;
    min-height: 290mm;
    background: #fff;
    border-left: 25px solid #E3CCBE;
    padding: 0 30px 0 50px;
    overflow-y: auto;
}
.header {
    padding: 45px 0 10px 0;
    text-align: center;
    height: 130px;
}

.header > p:first-child {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 15px;
    text-transform: uppercase;
}
.header > p:first-child > span {
    color: #E3CCBE;
}
.header > p:nth-child(2) {
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 15px;
    letter-spacing: 5px;
}
.cv > div:nth-child(2) > p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 13px;
    text-align: justify;
    line-height: 18px;
}
.content {
    width: 100%;
    min-height: 827px;
}
.left {
    width: 30%;
    float: left;
}
.right {
    width: 65%;
    float: right;
}

.info {
    text-align: center;
}

.info > span {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #E3CCBE;
    border-radius: 50%;
}
.info > span > i {
    color: #fff;
    position: relative;
}
.info-1 > span > i {
    font-size: 32px;
    top: 2px;
    left: 1px;
}
.info-2 > span > i {
    font-size: 25px;
    top: 5px;
    left: 0;
}
.info-3 > span > i {
    font-size: 20px;
    top: 7px;
    left: 0;
}
.info-4 > span > i {
    font-size: 25px;
    top: 5px;
    left: 1px;
}
.info > p {
    display: inline-block;
    padding: 10px;
    font-size: 13px;
}
.for {
    text-align: left;
}
.compe {
    margin-top: 30px;
}
.title{
    display: inline-block;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 15px;
}
.title-2 {
    margin-left: 30px;
}
.title-3 {
    width: 100%;
    text-align: center;
}
hr {
    width: 40%;
    position: relative;
    left: 29%;
    height: 3px;
    background: #E3CCBE;
    border: none;
}
.title-1 {
    margin-left: 32px;
}
.for-1 {
    padding: 20px 0 15px 0;
}
.for-1 p, .for-2 p {
    line-height: 20px;
    font-size: 13px;
}
.for-2 {
    padding: 0 0 15px 0;
}
.contact {
    display: flex;
    justify-content: space-between;
}
.right hr {
    width: 100%;
    position: relative;
    left: 0;
    height: 3px;
    background: #E3CCBE;
    border: none;
}
.exp-1 {
    padding: 20px 0;
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
}
.exp-2 {
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
}
.exp-1 > p, .exp-2 > p {
    padding-bottom: 3px;
}
.exp-1 ul, .exp-2 ul {
    margin-left: 45px;
}
.exp-1 ul li, .exp-2 ul li {
    padding-bottom: 3px;
}
.compe > div, .ato > div {
    padding: 20px 0;
}
.compe > div > p, .ato > div > p {
    padding: 8px 0;
    font-size: 13px;
}
